.Item {
  position: relative;
  margin: 20px 20px;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;

  cursor: pointer;
  transition: 0.5s;
}
.Item:hover {
  filter: brightness(70%);
}

.image {
  width: 290px;
  height: 300px;
}

.image img {
  width: 100%;
  height: 100%;
  border-radius: 15px 15px 0 0;
}
.Description {
  color: #fff;
  background-color: #1a1c29;
  border-radius: 0 0 15px 15px;
}

.Name {
  padding-top: 7px;
  text-align: center;
  font-size: 18px;
}

.Price {
  text-align: center;
  font-weight: bold;
  padding-bottom: 7px;
}
