.BackGround {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
}

.Wrapper {
  position: relative;
  z-index: 100;
  width: 80%;
  height: 600px;
  background-color: aliceblue;
  border-radius: 10px;
}

.Close {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 24px;
  color: black;
  cursor: pointer;
}

.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}
