.Wrapper {
  background-color: #1a1c29;
}

.CompanyName {
  text-align: center;
  padding-top: 20px;
}

.hr {
  margin-top: 10px;
  width: 100%;
  height: 1px;
  color: #fff;
  background-color: #fff;
}

.CompanyName a {
  font-size: 28px;
  text-decoration: none;
  color: #fff;
}

.mainNav {
  display: flex;
  justify-content: center;
  padding: 20px 0;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.mainNav a {
  text-decoration: none;
  color: white;
  margin: 0 15px;
  font-size: 18px;
  position: relative;
}

.mainNav a:before {
  content: "";
  position: absolute;
  bottom: -1px;
  height: 1px;
  background-color: #fff;
  width: 100%;
}

.mainNav a:before {
  transform: scale(0, 1);
  transition: all 0.4s ease;
}

.mainNav a:hover::before {
  transform: scale(1, 1);
}

/* Specific styles for active links */
.link-active {
  border-bottom: 1px solid white;
}

.Cart {
  width: 21px;
  height: 21px;
}

.ProductsCount {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 8px;
  height: 8px;
  position: absolute;
  background-color: #858585;
  color: white;
  font-weight: bold;
  border-radius: 50%;
  padding: 5px;
  font-size: 12px;
  top: -5px;
  left: -10px;
}

.bar1,
.bar2,
.bar3 {
  width: 28px;
  height: 4px;
  background-color: #fff;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-7px, 6px);
  transform: rotate(-45deg) translate(-7px, 6px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-7px, -7px);
  transform: rotate(45deg) translate(-7px, -7px);
}

.menuIcon {
  display: none;
}

.NameContainer {
  display: flex;
}

.NameContainer .Cart_Item {
  display: none;
}

.NavBackGround {
  position: fixed;
  background-color: rgba(0, 0, 0, 0);
  transition: 0.4s;
}

@media (max-width: 1020px) {
  .Wrapper {
    width: 100%;
    position: relative;
  }
  .menuIcon {
    display: block;
  }

  .mainNav {
    background-color: #1a1c29;
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 0;
    transform: translateY(100%);
    max-height: 0;
    overflow: hidden;
    z-index: 20;
    transition: 0.4s;
  }

  .mainNav a {
    display: block;
    padding: 10px;
  }

  .mainNav.change {
    max-height: 300px;
    padding: 20px 0;
  }

  .NavBackGround.change {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 19;
  }

  .mainNav a:hover::before {
    transform: scale(0, 0);
  }

  .link-active {
    border-bottom: none;
  }

  .NameContainer .Cart_Item {
    display: flex;
    align-items: center;
    font-size: 18px;
    margin-right: 15px;
  }

  nav .Cart_Item {
    display: none;
  }

  .hr {
    display: none;
  }

  .NameContainer .Cart_Item div span {
    font-size: 22px;
  }

  .ProductsCount {
    width: 8px;
    height: 8px;
    padding: 5px;
    font-size: 14px;
    top: 1px;
    left: -10px;
  }

  .CompanyName {
    text-align: unset;
    display: flex;
    justify-content: space-between;
    padding: 15px 20px;
  }
}

@media (max-width: 500px) {
  .CompanyName a {
    font-size: 22px;
  }

  .NameContainer .Cart_Item div span {
    font-size: 18px;
  }

  .Cart {
    width: 20px;
    height: 22px;
  }
}
