.mainNav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: black;
  padding: 20px 0;
}

.CompanyName {
  text-align: center;
  background-color: black;
  padding-top: 20px;
}

.hr {
  margin-top: 10px;
  width: 100%;
  height: 1px;
  color: #fff;
  background-color: #fff;
}

.CompanyName a {
  font-size: 28px;
  text-decoration: none;
  color: aliceblue;
}

.mainNav a {
  text-decoration: none;
  color: white;
  margin: 0 15px;
  font-size: 18px;
  position: relative;
}

.mainNav a:before {
  content: "";
  position: absolute;
  bottom: -1px;
  height: 1px;
  background-color: #fff;
  width: 100%;
}

.mainNav a:before {
  transform: scale(0, 1);
  transition: all 0.4s ease;
}

.mainNav a:hover::before {
  transform: scale(1, 1);
}

/* Specific styles for active links */
.link-active {
  border-bottom: 1px solid white;
}

.Cart {
  width: 21px;
  height: 21px;
}
