.Wrapper {
  /* background-color: #1a1c29; */
  box-sizing: border-box;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 15px;
  flex-wrap: wrap;
  /* box-shadow: rgba(0, 0, 0, 0.22) 0px 50px 36px 28px inset; */
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
}

.Left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.Up {
  display: flex;
  align-items: center;
}

.CompanyName {
  text-align: center;
  font-size: 20px;
}

.Inst {
  margin: 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.FaceBook {
  margin: 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.Down {
  font-size: 18px;
  padding-top: 10px;
  color: #bfbfbf;
}

.Right {
  display: flex;
  flex-wrap: wrap;
}

.Info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: right;
  padding: 0 40px;
}

.emailPrefix {
  text-transform: uppercase;
  font-size: 12px;
  color: #838383;
}

.emailcontent {
  color: #bfbfbf;
}

.WorkingHoursPrefix {
  text-transform: uppercase;
  font-size: 12px;
  color: #838383;
}

.WorkingHourscontent {
  color: #bfbfbf;
}

.PaymentoptionsPrefix {
  text-transform: uppercase;
  font-size: 12px;
  color: #838383;
}

.PaymentoptionsList {
  display: flex;
  flex-direction: column;
}

@media (max-width: 768px) {
  .Wrapper {
    flex-direction: column;
    align-items: center;
  }
  .Right,
  .Left {
    flex-direction: column;
    align-items: center;
  }
  .Info {
    text-align: center;
  }
  .Email,
  .WorkingHours,
  .Paymentoptions {
    margin-top: 20px;
  }
}
